
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = ViewBag.CategoryName;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.FeatureListProducts;
}


@model Model.EF.Product
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3 style="font-family:Arial;"><a href="/" style="color:#666">Trang chủ</a> >>> <a href="/@category.MetaTitle/@category.ID" style="color:#666">@category.CategoryName</a></h3>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="cont-desc span_1_of_2" >
                <div class="product-details">
                    <div class="grid images_3_of_2" style="margin-left:-10px;">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <style>
                                         #small-img{
                                            height: 44px;
                                            width: 51px;
                                        }
                                    </style>
                                    <div class="slides_container" style="width:370px">
                                        <a href="#" target="_blank"><img src="@Model.Image" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Model.Image" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Model.Image" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Model.Image" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Model.Image" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Model.Image" alt=" " /></a>

                                    </div>
                                    <ul class="pagination" style="width:360px">
                                        <li><a href="#"><img src="@Model.Image"  id="small-img" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Model.Image"  id="small-img" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Model.Image"  id="small-img" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Model.Image"  id="small-img" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Model.Image"  id="small-img" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Model.Image" id="small-img" alt=" " /></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="desc span_3_of_2" style="padding-left:10px; float:right">
                        <h2 style="font-size:30px;">@Model.ProductName</h2>
                        <p>@Model.Description</p>
                        <div class="price">
                            <p style="font-size: 20px; padding: 10px 0;">Giá: <span style="font-size:28px;">@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") + "Đ" : "Liên hệ")</span></pstyle="font-size:28px;>
                        </div>
                        <div class="available">
                            @*<p>Available Options :</p>
                            <ul>
                                <li>
                                    Color:
                                    <select>
                                        <option>Silver</option>
                                        <option>Black</option>
                                        <option>Dark Black</option>
                                        <option>Red</option>
                                    </select>
                                </li>
                                <li>
                                    Size:<select>
                                        <option>Large</option>
                                        <option>Medium</option>
                                        <option>small</option>
                                        <option>Large</option>
                                        <option>small</option>
                                    </select>
                                </li>
                                <li>
                                    Quality:<select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </li>
                            </ul>*@
                        </div>
                        <div class="share-desc">
                            
                            <div class="button"><span><a href="/them-gio-hang?productID=@Model.ID&quantity=1">Thêm vào giỏ</a></span></div>
                            <div class="clear"></div>
                        </div>
                        
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product_desc" style="margin-left:-10px">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Chi tiết sản phẩm</li>
                            
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="product-desc">
                                <p>@Model.Detail</p>
                            </div>

                            
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
    $(document).ready(function () {
                        $('#horizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true   // 100% fit in a container
                        });
                    });</script>
                <div class="content_bottom" style="margin-left:-10px">
                    <div class="heading">
                        <h3>Sản phẩm bán chạy</h3>
                    </div>
                    <div class="see">
                        <p><a href="#">Xem thêm</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group" style="margin-left:-10px">
                    @foreach (var item in listFeatureProducts)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;                        
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="@url"><img src="@item.Image" alt=""></a>
                            <div class="price" style="border:none">
                                <div class="add-cart" style="float:none">
                                    <h4><a href="/them-gio-hang?productID=@item.ID&quantity=1">Thêm vào giỏ</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="rightsidebar span_3_of_1" style="float:right">
                <h2>Danh Mục</h2>
                <ul class="side-w3ls">
                    @{Html.RenderAction("CategoryList", "Category");}
                </ul>
            </div>

           
        </div>
    </div>
</div>